In [41]:
import os

os.makedirs("csv_data", exist_ok=True)

In [42]:
import csv

with open("csv_data/file1.csv","w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["Name","Dept","Date"])
    writer.writerow(["Ali","BSCS","March"])
    writer.writerow(["Akif","BSIT","May"])

In [43]:
with open("csv_data/file1.csv","r") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Dept', 'Date']
['Ali', 'BSCS', 'March']
['Akif', 'BSIT', 'May']

In [44]:
with open("csv_data/file1.csv", "r") as file:
    csv_reader = csv.reader(file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count==0:
            print(f'Column name are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\n{row[0]} works in the {row[1]} department, and was born in {row[2]}.' )
            line_count += 1
        print("lines: ", line_count)

Column name are Name, Dept, Date
lines:  1

Ali works in the BSCS department, and was born in March.
lines:  2

Akif works in the BSIT department, and was born in May.
lines:  3

# Pandas

In [45]:
import pandas as pd

In [46]:
df = pd.read_csv("csv_data/file1.csv")
print(df)

   Name  Dept   Date
0   Ali  BSCS  March
1  Akif  BSIT    May

In [49]:
pd.read_csv("csv_data/file1.csv", usecols= ["Name","Dept"])

   Name  Dept
0   Ali  BSCS
1  Akif  BSIT